<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1068825698664-7oqmk8tnjeagerjcka69fbmp3s0hlprl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068825698664-7oqmk8tnjeagerjcka69fbmp3s0hlprl</string>
	<key>API_KEY</key>
	<string>AIzaSyClht3or5kjCM2W59u0bRMVTl28-MSnBbE</string>
	<key>GCM_SENDER_ID</key>
	<string>1068825698664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.techacademy.Yuuki.Uchiyama.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-9e94c</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-9e94c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068825698664:ios:f64c903122140850</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-9e94c.firebaseio.com</string>
</dict>
</plist>